name: Docker Image CI

on:
  push:
    tags:
      - "v.[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get tag name
        id: get_tag
        run: echo "TAG_NAME=${{  github.ref_name }}"

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag x01code/git-dumper:${{  github.ref_name }}
