name: Docker Image CI

on:
  push:
    tags:
      - 'v*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get tag name
      id: get_tag
      run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Print tag name
      run: echo "Pushed tag $GITHUB_OUTPUT"
      
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag git-dumper:$GITHUB_OUTPUT
